*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

.appbody{
    display: flex;
}

.icon{
    width: 16px;
    height:16px;
    }
